<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="files/css/g.css"/>
<title>无标题文档</title>
<style>
body{
	background:#f7f7f7;
	}

a{
	color:#20abf6;
}
.cList{
	width:100%;
	height:100%;
	margin-left:20px;
}
.cList li{
	width:100%;
	padding:1px 0px;
	margin-top:20px;
}
.cList li abbr{
	display:inline-block;
	text-align:right;
	font-size:14px;
	color:#333;
	width:120px;
}
.cList li span{
	display:inline-block;
	font-size:14px;
	color:#333;
	width:400px;
	margin-left:30px;
}
.cList li abbr#img{
	position:relative;
	top:-130px;
}

</style>
</head>

<body>
<div class="topNews">
	<span class="news"><img style="margin-right:10px; width:25px; height:25px;" src="files/img/ring.png" width="20" height="20" />消息<i>1</i>
    </span>
    <span class="users"><img style="margin-right:10px; width:25px; height:25px;" src="files/img/user.png" width="20" height="20" />南京邮政<i></i>
    </span>
</div>
<div style="width:100%; height:100px; border-bottom:2px solid #dcdcdc; margin-left:20px;">
	<span style="font:24px '黑体'; color:#000; display:inline-block; margin-top:15px;margin-bottom:20px;">账号信息
    </span>
   	<br  />
    公司信息
    |
    <a style="display:inline-block; margin:0px 10px 0px 10px;" href="account.html">账号信息</a>
</div>

<div class="cList">
	<ul>
    	<li><abbr>公司名称:</abbr><span>南京邮政集团南京邮政局</span>
        </li>
        <li><abbr>公司简称:</abbr><span>南京邮政</span>
        </li>
        <li><abbr id="img">公司logo:</abbr><span><img src="files/img/look.png" width="128" height="128" /><br />*Logo大小：128*128像素</span>
        </li>
        <li><abbr>公司注册地址:</abbr><span>南京市玄武区龙蟠路88路</span>
        </li>
        <li><abbr>公司联系人:</abbr><span>张三</span>
        </li>
        <li><abbr>公司联系地址:</abbr><span>南京市玄武区龙蟠路88号</span>
        </li>
        <li><abbr>公司联系电话:</abbr><span>18588888888</span>
        </li>
    </ul>
</div>

</body>
</html>
