<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="../css/g.css"/>
<style>
body{
	background:#f7f7f7;
	}

a{
	color:#20abf6;
}
.inPut{
	width:500px;
	height:200px;
	margin-left:20%;
	margin-top:10%
}
.inPut input{
	width:400px;
	height:50px;
	padding:10px;
	font-size:24px;
	border-radius:5px;
	background:#FFF;
	border:1px solid #cccccc;
	color:#000;
}
.inPut input#sub{
	width:150px;
	height:74px;
	position:relative;
	top:-74px;
	left:450px;
	border-style:none;
	color:#FFF;
	background:#5e94ee;
	border-radius:5px;

}
input[placeholder]{color:#999;}











</style>
<title>无标题文档</title>
</head>

<body>
<div class="topNews">
	<span class="news"><img style="margin-right:10px; width:25px; height:25px;" src="../img/ring.png" width="20" height="20" />消息<i>1</i>
    </span>
    <span class="users"><img style="margin-right:10px; width:25px; height:25px;" src="../img/user.png" width="20" height="20" />南京邮政<i></i>
    </span>
</div>
<div style="width:100%; height:100px; border-bottom:2px solid #dcdcdc; margin-left:20px;">
	<span style="font:24px '黑体'; color:#000; display:inline-block; margin-top:15px;margin-bottom:20px;">邮宝发放
    </span>
   	<br  />
    单个转账
    |
    <a style="display:inline-block; margin:0px 10px 0px 10px;" href="piliangdaoru.html">批量转账</a>
</div>


<!--<form action="oldUser.html" onsubmit="return false;">-->
<div class="inPut">
	<input type="text" name="userId" placeholder="用户身份证号" />
    <input type="button" id="sub" value="下一步"/>
</div>





</body>
</html>
